@use 'mixins.scss' as mx;

//variables

$cyan: #A9D6CB;
$blue: #264065;
$black: #070D15;
$gray: #909090;
$principal-font: "Poppins", sans-serif;

body {
    font-family: $principal-font;
    margin: 0;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% 550px;
}

main {
    padding-top: 30px;
    padding-bottom: 40px;
    background-image: url('../img/beauty-woman.png');
    background-repeat: no-repeat;
    background-position: 130px -90px;
    background-size: cover;
    position: relative;
}

figure {
    margin: 0;
}   

.container {
    width: 87%;
    margin: 0 auto 0 auto;
}

/*header*/
header {
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        margin-left: 5rem;
        margin-right: auto;
        ul {
            display: flex;
            gap: 20px;
            li {
                @include mx.reset-list;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: $blue;
                    transition: .4;
                }
            }
        }
    }
    aside {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        a {
            &:first-of-type {
                @include mx.button(transparent, $blue);
                padding: 12px 24px;
                font-size: 16px;
                box-sizing: content-box;
                text-transform: capitalize;
                &:hover {
                    text-decoration: underline;
                    color: white;
                }
            }
            &:nth-of-type(2) {
                @include mx.button($blue);
                padding: 12px 24px;
                font-size: 16px;
                box-sizing: content-box;
                text-transform: capitalize;
            }
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 60px;

    h1 {
        margin: 0;
        font-size: 3rem;
        color: $blue;
        line-height: 1.2;
    }
    p {
        font-size: 1.1rem;
        color: $gray;
        margin-bottom: 30px;
        line-height: 1.6;
    }
    div {
        display: flex;
        gap: 20px;
        align-items: center;

        a {
            font-weight: 400;                
            font-size: 1rem; 
        }
        a:first-of-type {
            @include mx.button($blue);
            padding: 15px 37px;
            max-width: fit-content;
        }
        a:nth-of-type(2) {
                @include mx.button(transparent, $blue);
            padding: 15px 37px;
            max-width: fit-content;
            display: flex;
            align-items: center;
            gap: 10px;
            

            img {
                background-color: white;
                border-radius: 50%;
                padding: 10px;
                width: 20px;
                height: 20px;
                &:hover {
                    background-color: $cyan;
                    transition: .4s;
                }
            }
        }
    }
}

.numbers {
    display: flex;
    gap: 60px;
    width: 450px;
    padding: 20px;
    
    &__item {
        
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        img {
            padding: 10px;
            border-radius: 50%;
            background: $cyan;
        }
        span {
            text-align: center;
        }
        span:nth-of-type(1) {
            font-size: 2rem;
            color: $blue;
            font-weight: 600;
        }
        span:nth-of-type(2) {
            font-size: .9rem;
            color: $gray;
        }
    }   
}

section.comments {
    position: absolute;
    margin-top: 60px;
    width: 420px;
    height: 440px;
    top: 170px;
    right: -50px;

    article {
        background: rgba(255, 255, 255, 0.50) ;
        border-radius: 10px;
        width: 80%;
        padding: 10px 20px;
        box-sizing: border-box;
        position: absolute;
   

        /* First article: top-right */
        &:nth-of-type(1) {
            top: 10px;
            right: 10px;
        }

        /* Second article: bottom-left */
        &:nth-of-type(2) {
            bottom: 10px;
            left: 10px;
        }

        span {
            color: $blue;
            font-weight: 600;
            font-size: 16px;
        }
        
        p {
            margin: 0;
            font-size: 15px;
        }
    }
    
}